
@import url('https://api.fontshare.com/v2/css?f[]=stardom@400,700&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=plus jakarta@400,700&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=gambetta@400,700&display=swap');
@import url("https://api.fontshare.com/css?f%5B%5D=satoshi@400,700&serif=swap");



a {
  text-align: center;
  text-decoration: none;
  width: fit-content;
  height: fit-content;
  padding: 0% 3%;
  background: transparent;
  cursor: pointer;
  transition:ease-out 0.5s;
  border: none;
  border-radius: 5px;
  margin: 2% 0%;
  color: #d2c4a4;
  font-family: satoshi;
  font-weight: bold;
  font-size: 16px;


}

a:hover {
  color: #4c5f4e;
  background-color: #d2c4a4;
}

button:active {
  transform: scale(0.9);
}


form{
    width: 100%;

}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 50%;
  align-self: center;


}

.input {
  padding-left: 4rem;
  padding-bottom: 1%;
   border: transparent;
   background: transparent;
   border-bottom: solid 2px #2f3830 ;
   width: 100%;
   outline: none;
}



.input::placeholder {
  color: #455347;
  font-family: gambetta;
  font-size: 19px;

}

.icon {
  position: absolute;
  left: 1rem;
  fill: #455347;
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: 1%;
  cursor: pointer;
}




