<div style="width: 100%; height: 100vh; margin: 0%; padding: 0%; display: flex;">
  <div style="width: 55%; height: 100%; display: flex; flex-direction: column; ">

      <h1 style="font-family: zodiak; font-size: 45pt; margin: 10% 0% 0% 8%; font-weight: 300; width: 70%;">Let's scale your portfolio, together.</h1>
      <p style="font-family: satoshi; font-size: 14pt; align-self: flex-start; margin: 2% 5% 0% 8%;  color: rgba(4, 28, 9, 0.363); ">Get a start at tradetrove.com</p>
      <img src="../../../assets/handshake-vintage.png" style="width: 70%; margin: 0% 0% 0% 7%; mix-blend-mode: multiply;" >
    </div>

  <div style="width: 50%; height: 100%; display: flex; flex-direction: column;  padding: 2% 3%; justify-content: center;  background-color: #A8B5A0;">
    <div style=" width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; padding: 5% 10%; background-color: #F5F1EB; border-radius: 5%;">
        <form style="width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center;">
            <div class="form-group" style="width: 80%;">
                <label for="name">Name <span class="required">*</span></label>
                <input type="text" id="name" name="name" placeholder="Type name" required>
            </div>
            <div class="form-group">
                <label for="company">Company <span class="required">*</span></label>
                <input type="text" id="company" name="company" placeholder="Type company name" required>
            </div>

            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="tel" id="phone" name="phone" placeholder="Type phone number">
            </div>

            <div class="form-group">
                <label for="email">Email Address <span class="required">*</span></label>
                <input type="email" id="email" name="email" placeholder="Type email address" required>
            </div>
                        <div class="form-group">
                <label for="message">How can we help? <span class="required">*</span></label>
                <textarea id="message" name="message" placeholder="A brief description here" required></textarea>
            </div>

            <button type="submit" class="submit-btn">Send Message</button>
            </form>
    </div>
  </div>
</div>
