  <link href="https://api.fontshare.com/css?f%5B%5D=gambetta@400,700&serif=swap" rel="stylesheet">
  <link href="https://api.fontshare.com/css?f%5B%5D=plus jakarta@400,700&sans=swap" rel="stylesheet">



<div class="outer-div" >


    <div style="display: flex; margin: 5%  0% 0% 7% ; width: 38%; text-wrap: pretty; flex-direction: column;">

      <h3   style="  color: #455347; font-family: 'gambetta'; font-size: 28pt;" data-aos="fade-up"  aos-duration="2000" >Find Wealth in Every Trade with TradeTrove</h3>
      <p data-aos="fade-up" data-aos-delay="500" aos-duration="2000" style="font-family: 'gambetta'; color: #18271f92; padding-left: 1%;">Discover the power of smart investing with TradeTrove! Our cutting-edge stock screener equips you with the tools to uncover hidden market gems, analyze trends, and make confident decisions.</p>
      <button data-aos="fade-up" data-aos-delay="800"  (click)="goToProfile()" style="width: 22%; font-size: 10pt; margin-left: 2.5%; background-color: #e4c085; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; height: 10%; border: none; border-radius: 25px; margin-top: 2.85%; color: #455347;">Get Started</button>
    </div>
    <div  data-aos="fade-left"  aos-duration="2000" style="background: #004225;background: linear-gradient(to right, rgba(0, 66, 37, 1) 35%, rgba(0, 66, 37, 1) 57%, rgba(0, 0, 0, 1) 95%);; height: 80%; width: 65%; display: flex; justify-content: end; align-items: center;" >
      <div data-aos="fade-left"  aos-duration="2000" data-aos-delay="500" style="background: #59744e; height: 80%; width: 90%; display: flex; justify-content: end; align-items: center;" >
        <div  data-aos="fade-left"  aos-duration="2000" data-aos-delay="700" style="background: rgb(84, 105, 73); height: 80%; width: 90%; display: flex; justify-content: end; align-items: center;" >
        <div data-aos="fade-left"  aos-duration="2000" data-aos-delay="800" style="background: rgb(56, 78, 59); height: 80%; width: 90%; display: flex; justify-content: end; align-items: center;" >

        </div>
        </div>


      </div>

    </div>

  <!-- <img src="assets/hero-section-image.png" style="justify-self: end; image-orientation: 30deg;"> -->




</div>



<div class="container"  style="margin-top: 2%; display: flex; justify-content: space-evenly; gap: 5%; width: 100%; flex-wrap: wrap;  " >

  <div data-aos="fade-in" data-aos-duration="2000" style="width: 30%; background-color: #80a27579; padding: 2%; border-radius: 10px; border:  solid 1px #383e3922;  display: flex; flex-direction: column; align-items: center; ">
    <div style="width: 80px; height: 80px; background-color: #5b6b5679; border-radius: 50%; display: flex; justify-content: center; align-items: center;">
      <i class="fa-solid fa-chart-line" style="font-size: 35pt;"></i>
    </div>
    <p style="color: #3e3a3f; font-family: author; font-size: 22pt; padding-top: 5%;   ">Advanced Screeners</p>
    <p style="color: #3e3a3f; font-family: author; font-size: 14pt; align-self: center; text-align: center;">Filter stocks with precision using our advanced screeners. Find the right opportunities that meet your investment criteria.</p>
  </div>
 <div  data-aos="fade-in" data-aos-duration="2000" style="width: 30%; background-color: #80a27579; padding: 2%; border-radius: 10px; border:  solid 1px #383e3922;   display: flex; flex-direction: column; align-items: center;">
    <div style="width: 82px; height: 82px; background-color: #5b6b5679; border-radius: 50%; display: flex; justify-content: center; align-items: center;">
      <i class="fa-solid fa-magnifying-glass-chart" style="font-size: 35pt;"  ></i>
    </div>
    <h3 style="color: #3e3a3f; font-family: author; font-size: 22pt; padding-top: 5%; ">In-Depth Analysis</h3>
    <p style="color: #3e3a3f; font-family: author; font-size: 14pt; align-self: center;  align-self: center; text-align: center; margin-top: 5%;">Access comprehensive data and insights for each stock. Evaluate key metrics and market trends to make informed decisions.</p>
  </div>
   <div data-aos="fade-in" data-aos-duration="2000"   style="width: 30%; background-color: #80a27579; padding: 2%; border-radius: 10px; border:  solid 1px #383e3922;   display: flex; flex-direction: column; align-items: center; ">
    <div style="width: 80px; height: 80px; background-color: #5b6b5679; border-radius: 50%; display: flex; justify-content: center; align-items: center;">
      <i class="fa-solid fa-money-bill-trend-up" style="font-size: 35pt;"></i>
    </div>
    <p style="color: #3e3a3f; font-family: author; font-size: 22pt; padding-top: 4%; ">Customizable Alerts</p>
    <p style="color: #3e3a3f; font-family: author; font-size: 14pt; align-self: center; align-self: center; text-align: center; ">Stay ahead with personalized alerts for market movements. Receive updates tailored to your investment preferences.</p>
  </div>




 </div>


<div  style="margin-top: 5%; display: flex; justify-content: center; gap: 10%; width: 100%;   height: fit-content; flex-direction: column;" >
    <div style="width: 100%; display: flex;">

      <img data-aos="fade-right" data-aos-duration="2000" src="../../../assets/557e8adb3d8bd77293cd601a900878e4.jpg" alt="" style="width: 650px; height: 500px; border-radius: 5%; align-self: start; margin-left : 5%; border: solid 3px #0000000f;">
      <div style="width: 40%; height: 480px;  display: flex; flex-direction: column; justify-content: end;" >

        <p data-aos="fade-left" data-aos-duration="2000" style="color: #50604b; font-family: author; font-size: 35pt;   margin-left: 5% ; ">Uncover Market Opportunities</p>
        <p data-aos="fade-left" data-aos-duration="2000" style="color: #50604b; font-family: author; font-size: 16pt;   margin-left: 5% ;">Our powerful tools help you screen and identify potential stocks, making it easy to find and capitalize on market opportunities with speed and accuracy.</p>
      </div>

    </div>
    <div style="width: 100%; display: flex; justify-content: end;">

      <div style="width: 40%; height: 400px; align-self: center; ">
        <p data-aos="fade-right" data-aos-duration="2000" style="color: #50604b; font-family: author; font-size: 35pt; padding-top: 4%; align-self: top; margin-left: 5% ;">Make Informed Decisions with Confidence</p>
        <p data-aos="fade-right" data-aos-duration="2000" style="color: #50604b; font-family: author; font-size: 16pt;   margin-left: 5% ;">Analyze trends and metrics with ease using our intuitive platform. Empower your strategy with actionable insights to navigate the market successfully.</p>

      </div>
      <img data-aos="fade-left" data-aos-duration="2000" src="../../../assets/185a0cd5695946a084eeb87af6b436ba.jpg" alt="" style="width: 650px; height: 400px; border-radius: 5%; justify-self: right; margin: 5%; border: solid 3px #0000000f;">

    </div>
 </div>
