@import url("https://api.fontshare.com/css?f%5B%5D=plus jakarta@400,700&sans=swap");

@import url("https://api.fontshare.com/css?f%5B%5D=gambetta@400,700&serif=swap");


.outer-div{
  background-color: #eae4d9;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  height: 73vh;
  gap: 15%;
}

button:hover{
  animation:  enlarge 1s ease forwards;
}


@keyframes enlarge {
  from{transform: scale(1)}
  to{transform: scale(1.1);}
}
