  <link href="https://api.fontshare.com/css?f%5B%5D=gambetta@400,700&serif=swap" rel="stylesheet">
  <link href="https://api.fontshare.com/css?f%5B%5D=plus jakarta@400,700&sans=swap" rel="stylesheet">

<div class="outer-div">


    <div data-aos="fade-up" style="display: flex; margin: 10%  0% 0% 7% ; width: 38%; text-wrap: pretty; flex-direction: column;">

      <h3 style="  color: #455347; font-family: 'gambetta'; font-size: 28pt;">Find Wealth in Every Trade with TradeTrove</h3>
      <p style="font-family: 'gambetta'; color: #18271f92; padding-left: 2%;">Discover the power of smart investing with TradeTrove! Our cutting-edge stock screener equips you with the tools to uncover hidden market gems, analyze trends, and make confident decisions.</p>
      <button (click)="goToProfile()" style="width: 22%; font-size: 10pt; margin-left: 2.5%; background-color: #e4c085; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; height: 10%; border: none; border-radius: 25px; margin-top: 2.85%; color: #455347;">Get Started</button>
    </div>
    <div style="background: #004225;background: linear-gradient(to right, rgba(0, 66, 37, 1) 35%, rgba(0, 66, 37, 1) 57%, rgba(0, 0, 0, 1) 95%);; height: 80%; width: 65%; display: flex; justify-content: end; align-items: center;" >
      <div style="background: #59744e; height: 80%; width: 90%; display: flex; justify-content: end; align-items: center;" >
        <div style="background: rgb(84, 105, 73); height: 80%; width: 90%; display: flex; justify-content: end; align-items: center;" >
        <div style="background: rgb(56, 78, 59); height: 80%; width: 90%; display: flex; justify-content: end; align-items: center;" >

        </div>
        </div>


      </div>

    </div>

  <!-- <img src="assets/hero-section-image.png" style="justify-self: end; image-orientation: 30deg;"> -->




</div>
