
<div class="outer-div" style="width: 100%;">

  <div style="width: 100%; background-color: #f5e8d3; display: flex; gap: 5%; justify-content: center; align-items: center;">

<div style="width: 20%;">

  <label >Market Cap</label>
  <select class="form-select" aria-label="Default select example">
    <option selected>Any</option>
    <option value="1">Any excl. Nano Cap (>$50M)</option>
    <option value="2">Nano Cap (<$50M)</option>
    <option value="3">Micro Cap ($50M to $300M)</option>
    <option value="4">Small Cap ($300M to $2B)</option>
    <option value="5">Mid Cap ($2B to $10B)</option>
    <option value="6">Large Cap ($10B to $200B)</option>
    <option value="7">Mega Cap (>$200B)</option>

  </select>
  </div>


<div style="width: 20%;">

  <label>Last Trade Price</label>
  <select class="form-select" aria-label="Default select example">
    <option selected>Any</option>
    <option value="1">Under $5</option>
    <option value="2">Under $10</option>
    <option value="3">Over $1000</option>
  </select>
  </div>


<div style="width: 20%;">

  <label>Dividend Yield (%)</label>
  <select class="form-select" aria-label="Default select example">
    <option selected>Any</option>
    <option value="1">No Dividend (>0%)</option>
    <option value="2">High Yield (>5%)</option>
    <option value="3">Very High Yield (>10%)</option>
  </select>
  </div>

<div style="width: 20%;">

  <label>P/E Ratio</label>
  <select class="form-select" aria-label="Default select example">
    <option selected>Any</option>
    <option value="1">High (>50x)</option>
    <option value="2">Low (2x to < 10x) </option>
    <option value="3">Unprofitable (>0x)</option>
  </select>
  </div>



  </div>

  <div style="display: flex; flex-direction:column ; align-items: center;">

  <table class="table">
  <thead>
    <tr>
      <th scope="col">Company</th>
      <th scope="col">Name</th>
      <th scope="col">Exchange</th>
      <th scope="col">Sector</th>
      <th scope="col">Industry</th>
      <th scope="col">P/E Ratio</th>
      <th scope="col">Last Trade Price</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <div style="width: 100%; background-color: #d2bd9b; display: flex; justify-content: center; align-items: center; gap: 25.4%;">

        <button class="btn" style="font-size: 19pt; background: #455347; display: flex; align-items: center; justify-content: center; color: #d2bd9b; font-weight: bold; height: 30px; width: 20%; padding: 0;">+</button>
        <div style="background-color:  grey; width: 40%; height: 52.8px;  border-radius: 10px;"></div>
      </div>
      <td>Mark</td>
      <td>Otto</td>
      <td>mdo</td>
      <td>mdo</td>
      <td>mdo</td>
      <td>mdo</td>
    </tr>
    <tr>
      <div style="width: 100%; background-color: #d2bd9b; display: flex; justify-content: center; gap: 25%; align-items: center;">
        <button class="btn" style="font-size: 19pt; background: #455347; display: flex; align-items: center; justify-content: center; color: #d2bd9b; font-weight: bold; height: 30px; width: 20%; padding: 0;">+</button>
        <div style="background-color: grey;width: 40%; height: 53px;  border-radius: 10px;"></div>
      </div>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>fat</td>
      <td>fat</td>
      <td>fat</td>
      <td>fat</td>
    </tr>
    <tr>
      <div style="width: 100%; background-color: #d2bd9b; display: flex; justify-content: center; gap: 25%; align-items: center;">

        <button class="btn" style="font-size: 19pt; background: #455347; display: flex; align-items: center; justify-content: center; color: #d2bd9b; font-weight: bold; height: 30px; width: 20%; padding: 0;">+</button>
        <div style="background-color: grey; width: 40%; height: 53px; border-radius: 10px; "></div>
      </div>
      <td>John</td>
      <td>Doe</td>
      <td>social</td>
      <td>social</td>
      <td>social</td>
      <td>social</td>
    </tr>
    <tr>
      <div style="width: 100%; background-color: #d2bd9b; display: flex; justify-content: center; gap: 25%; align-items: center;">

        <button class="btn" style="font-size: 19pt; background: #455347; display: flex; align-items: center; justify-content: center; color: #d2bd9b; font-weight: bold; height: 30px; width: 20%; padding: 0;">+</button>
        <div style="background-color:  grey; width: 40%; height: 53px;  border-radius: 10px;"></div>
      </div>
      <td>John</td>
      <td>Doe</td>
      <td>social</td>
      <td>social</td>
      <td>social</td>
      <td>social</td>
    </tr>
    <tr>
      <div style="width: 100%; background-color: #d2bd9b; display: flex; justify-content: center; gap: 25%; align-items: center;">

        <button class="btn" style="font-size: 19pt; background: #455347; display: flex; align-items: center; justify-content: center; color: #d2bd9b; font-weight: bold; height: 30px; width: 20%; padding: 0;">+</button>
        <div style="background-color:  grey; width: 40%; height: 53px;  border-radius: 10px; "></div>
      </div>
      <td>John</td>
      <td>Doe</td>
      <td>social</td>
      <td>social</td>
      <td>social</td>
      <td>social</td>
    </tr>
    <tr>
      <div style="width: 100%; background-color: #d2bd9b; display: flex; justify-content: center; gap: 25.4%; align-items: center;">

        <button class="btn" style="font-size: 19pt; background: #455347; display: flex; align-items: center; justify-content: center; color: #d2bd9b; font-weight: bold; height: 30px; width: 20%; padding: 0;">+</button>
        <div style="background-color:  grey; width: 40%; height: 53px;  border-radius: 10px;"></div>
      </div>
      <td>John</td>
      <td>Doe</td>
      <td>social</td>
      <td>social</td>
      <td>social</td>
      <td>social</td>
    </tr>
  </tbody>
</table>


<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item ">
      <a class="page-link" href="#">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>


</div>
