<div class="container" style=" margin-top: 3%;">
  <div>
    <h1 style="color: #383e39; font-family: author; font-size: 32pt; font-weight: bold;">{{stockDataOverView?.Name}} ({{stockDataOverView?.Symbol}})</h1>
    <h1 style="color: #475449; font-family: satoshi; font-size: 12pt; font-weight: lighter;">{{stockDataOverView?.Exchange}}: {{stockDataOverView?.Symbol }} • {{stockDataOverView?.Sector}} • Market Cap: ${{formatMarketCap(stockDataOverView?.MarketCapitalization!)}}</h1>
  </div>
<div style="display: flex; gap: 15%; height: 25%; width: 30%; align-self: center; margin-top: 2.5%;">
  <button type="button" class="btn btn-light" style =" font-family: satoshi; font-size: 11pt; height: 25%; width: fit-content; background-color:#4f5650; padding-top: 0%; padding: 2% 4%;  font-weight: bold; color:#dccfb5 ;">Add To Watchlist</button>
</div>
</div>

<div class="container" style="display: flex; gap: 3%;">
    <h1 style="color: #4f5650; font-family: satoshi; font-size: 38pt; font-weight: bold;">${{stockDayData?.price}} </h1>
    <p style="color: #548b5b; font-family: satoshi; font-size: 14pt; padding-top: 1.8%;">{{changeSign()}} ({{changePercentage(stockDayData?.price!, stockDayData?.previousClose!)}})</p>
    <p style="color: #554f56; font-family: satoshi; font-size: 12pt; align-self: center; padding-top: 1.7%;">Previous Close: ${{stockDayData?.previousClose}}</p>
</div>




<div style="width: 100%; display: flex; gap: 2%; ">

    <div aos="fade-up" class="container" style="background-color: #edf3ee; width: 50%; border-radius: 15px; display: flex; flex-direction: column; align-self: start; margin-left: 8%; height: 80%; width: 60%; border: solid 1px #383e3922; ">

      <p style="margin: 2%; font-size: 15pt; font-family: satoshi;">Price Chart</p>
      <canvas id="myChart"> {{chart}}</canvas>

      <div class="container" style="display: flex; gap: 0; justify-content: end; width: 100%; ">
            <button type="button" class="btn btn-dark" (click)="updateChartDataForDayData()">1D</button>
            <button type="button" class="btn btn-dark" (click)="updateChartDataFor5D()" >5D</button>
            <button type="button" class="btn btn-dark" (click)="updateChartDataForMonthData()">1M</button>
            <button type="button" class="btn btn-dark" (click)="updateChartDataFor3M()">3M</button>
            <button type="button" class="btn btn-dark" (click)="updateChartDataFor1Y()">1Y</button>
            <button type="button" class="btn btn-dark" (click)="updateChartDataFor5Y()">5Y</button>
      </div>
    </div>

    <div class="container" style=" width: 28%; padding: 1%; border: solid 1px #383e3922; background-color: #edf3ee; border-radius: 10px; margin-right: 2%; height: fit-content;   flex-direction: column;">
      <p style="font-family:satoshi;  margin: 2%; font-weight: bold; font-size: 18pt; ">Key Statistics</p>

      <div style="display: flex; justify-content: space-between;">
        <p style="font-family:satoshi;  margin:1% 3%; font-weight: bold; font-size: 12pt; ">Market Cap</p>
        <p style="font-family:satoshi;  margin: 1% 3%; font-weight: bold; font-size: 12pt; ">${{formatMarketCap(stockDataOverView?.MarketCapitalization!)}}</p>

      </div>
      <div style="display: flex; justify-content: space-between;">
        <p style="font-family:satoshi;  margin:1% 3%; font-weight: bold; font-size: 12pt; ">P/E Ratio</p>
        <p style="font-family:satoshi;  margin: 1% 3%; font-weight: bold; font-size: 12pt; "> {{stockDataOverView?.PERatio}} </p>

      </div>
      <div style="display: flex; justify-content: space-between;">
        <p style="font-family:satoshi;  margin:1% 3%; font-weight: bold; font-size: 12pt; ">EPS</p>
        <p style="font-family:satoshi;  margin: 1% 3%; font-weight: bold; font-size: 12pt; ">{{stockDataOverView?.EPS}}</p>

      </div>
      <div style="display: flex; justify-content: space-between;">
        <p style="font-family:satoshi;  margin:1% 3%; font-weight: bold; font-size: 12pt; ">52W High</p>
        <p style="font-family:satoshi;  margin: 1% 3%; font-weight: bold; font-size: 12pt; ">${{stockDataOverView?.['52WeekHigh']}}</p>

      </div>
      <div style="display: flex; justify-content: space-between;">
        <p style="font-family:satoshi;  margin:1% 3%; font-weight: bold; font-size: 12pt; ">52W Low</p>
        <p style="font-family:satoshi;  margin: 1% 3%; font-weight: bold; font-size: 12pt; ">${{stockDataOverView?.['52WeekLow']}}</p>

      </div>
      <div style="display: flex; justify-content: space-between;">
        <p style="font-family:satoshi;  margin:1% 3%; font-weight: bold; font-size: 12pt; ">Volume</p>
        <p style="font-family:satoshi;  margin: 1% 3%; font-weight: bold; font-size: 12pt; "> ${{formatMarketCap(stockDayData?.volume!)}}</p>

      </div>
      <div style="display: flex; justify-content: space-between;">
        <p style="font-family:satoshi;  margin:1% 3%; font-weight: bold; font-size: 12pt; ">Dividend Yield</p>
        <p style="font-family:satoshi;  margin: 1% 3%; font-weight: bold; font-size: 12pt; ">${{stockDataOverView?.DividendYield }} </p>

      </div>
  </div>

</div>

















<div style="margin-top: 5%; display: flex; flex-direction: column ; align-items: center;;">
  <nav class="nav nav-pills nav-justified" style="width: 80%; background-color: #dccfb5;  border-radius: 15px">
    <a class="nav-link " aria-current="page"   (click)="displayOverView(overviewTap, financials,overviewTap2)" >Overview</a>
    <a class="nav-link" (click)="displayFinancials(overviewTap, financials, overviewTap2)" >Financials </a>
    <a class="nav-link" >Analysis</a>
    <a class="nav-link" >News</a>
  </nav>


</div>



<div class="container"  style="margin-top: 2%; display: flex; justify-content: center; gap: 3%; width: 82%; " #overviewTap>

  <div style="width: 25%; background-color: aliceblue; padding: 2%; border-radius: 10px; border:  solid 1px #383e3922; background-color: #edf3ee;">
    <h1 style="color: #4f5650; font-family: satoshi; font-size: 22pt; font-weight: bold;">Revenue</h1>
    <p style="color: #548b5b; font-family: satoshi; font-size: 14pt; padding-top: 1.8%;">${{formatMarketCap(latestReport?.totalRevenue!)}}</p>
    <p style="color: #554f56; font-family: satoshi; font-size: 12pt; align-self: center; padding-top: 0%;">{{changePercentage(latestReport?.totalRevenue!, previousReport?.totalRevenue!)}}% from last year</p>
  </div>
 <div style="width: 25%; background-color: aliceblue; padding: 2%; border-radius: 10px; border:  solid 1px #383e3922; background-color: #edf3ee;">
    <h1 style="color: #4f5650; font-family: satoshi; font-size: 22pt; font-weight: bold;">Net Income</h1>
    <p style="color: #548b5b; font-family: satoshi; font-size: 14pt; padding-top: 1.8%;">${{formatMarketCap(latestReport?.netIncome!)}}</p>
    <p style="color: #554f56; font-family: satoshi; font-size: 12pt; align-self: center; padding-top: 0%;">{{changePercentage(latestReport?.netIncome!, previousReport?.netIncome!)}}% from last year</p>
  </div>
   <div style="width: 25%; background-color: aliceblue; padding: 2%; border-radius: 10px; border:  solid 1px #383e3922; background-color: #edf3ee;">
    <h1 style="color: #4f5650; font-family: satoshi; font-size: 22pt; font-weight: bold;">Gross Profit</h1>
    <p style="color: #548b5b; font-family: satoshi; font-size: 14pt; padding-top: 1.8%;">{{formatMarketCap(latestReport?.grossProfit!)}}</p>
    <p style="color: #554f56; font-family: satoshi; font-size: 12pt; align-self: center; padding-top: 0%;">{{changePercentage(latestReport?.grossProfit!, previousReport?.grossProfit!)}}% from last year</p>
  </div>




 </div>


 <div style="display: flex; justify-content: center; " #overviewTap2>
  <div style="width: 80%; background-color: aliceblue; padding: 2%; border-radius: 10px; border:  solid 1px #383e3922; background-color: #edf3ee; margin: 2%;">
    <h1 style="color: #4f5650; font-family: satoshi; font-size: 22pt; font-weight: bold;">About {{stockDataOverView?.Name}} ({{stockDataOverView?.Symbol}})</h1>
    <p style="color: #554f56; font-family: satoshi; font-size: 12pt; padding-top: 1.8%;">{{stockDataOverView?.Description}}</p>
  </div>
 </div>


  <div class="d-none" style="display: flex; justify-content: center; " #financials>
  <div style="width: 80%; background-color: aliceblue; padding: 2%; border-radius: 10px; border:  solid 1px #383e3922; background-color: #edf3ee; margin: 2%;">
    <h1 style="color: #4f5650; font-family: satoshi; font-size: 22pt; font-weight: bold;">Financial Highlights</h1>
    <p style="font-family: satoshi; ">Key financial metrics and ratios</p>
      <div style="width: 100%; display: flex; ">
        <div style="background-color: transparent; width: 50%;">
          <div style="width:100%; display: flex; gap: 50%;">
            <p style="font-family: satoshi; font-size: 13pt;  color: #383e39;">Gross Profit</p>
            <p style="font-family: satoshi; font-size: 13pt;  color: #383e39;">${{formatMarketCap(stockDataOverView?.GrossProfitTTM!)}}</p>
          </div>

          <div style="width:100%; display: flex; gap: 42%;">
              <p style="font-family: satoshi; font-size: 13pt; color: #383e39; width: fit-content;">Operating Margin</p>
              <p style="font-family: satoshi; font-size: 13pt; color: #383e39;"> {{stockDataOverView?.OperatingMarginTTM! * 100}}%</p>
          </div>

          <div style="width:100%; display: flex; gap: 51%;">
          <p style="font-family: satoshi; font-size: 13pt; color: #383e39;">Net Margin</p>
          <p style="font-family: satoshi; font-size: 13pt; color: #383e39;">{{stockDataOverView?.ProfitMargin! * 100}}%</p>

          </div>

          <div style="width:100%; display: flex; gap: 60%;">
          <p style="font-family: satoshi; font-size: 13pt; color: #383e39;">ROE</p>
          <p style="font-family: satoshi; font-size: 13pt; color: #383e39;">{{stockDataOverView?.ReturnOnEquityTTM! * 100}}%</p>

          </div>

        </div>
        <div style="background-color: transparent; width: 50%;">
          <div style="width:100%; display: flex; gap: 61%;">
            <p style="font-family: satoshi; font-size: 13pt;  color: #383e39;">Price/Book</p>
            <p style="font-family: satoshi; font-size: 13pt;  color: #383e39;">{{formatMarketCap(stockDataOverView?.PriceToBookRatio!)}}</p>
          </div>

          <div style="width:100%; display: flex; gap: 60.8%;">
              <p style="font-family: satoshi; font-size: 13pt; color: #383e39; width: fit-content;">Price/Sales </p>
              <p style="font-family: satoshi; font-size: 13pt; color: #383e39;"> {{stockDataOverView?.PriceToSalesRatioTTM!}}</p>
          </div>

          <div style="width:100%; display: flex; gap: 62%;">
          <p style="font-family: satoshi; font-size: 13pt; color: #383e39;">PEG Ratio</p>
          <p style="font-family: satoshi; font-size: 13pt; color: #383e39;">{{stockDataOverView?.PEGRatio!}}</p>

          </div>

          <div style="width:100%; display: flex; gap: 61%;">
          <p style="font-family: satoshi; font-size: 13pt; color: #383e39;">EV/EBITDA</p>
          <p style="font-family: satoshi; font-size: 13pt; color: #383e39;">{{stockDataOverView?.EVToEBITDA}}</p>

          </div>

        </div>

      </div>
  </div>
 </div>

