<div class="container">
  <div>
    <h1 style="color: #383d39; font-family: author; font-size: 32pt; font-weight: bold;">Apple Inc. (AAPL)</h1>
    <h1 style="color: #475449; font-family: satoshi; font-size: 12pt; font-weight: lighter;">NASDAQ: AAPL • Technology • Market Cap: $2.5T</h1>
  </div>
<div style="display: flex; gap: 15%; height: fit-content; width: 30%; align-self: center; margin-top: 2.5%;">
  <h3 style="background-color: #383e39; height: fit-content; padding: 1% 5%; border-radius: 12px;  margin-top: 0.5%; color: #dccfb5; font-family:satoshi; font-size: 19pt;">+1.48%</h3>
  <button type="button" class="btn btn-light" style =" font-family: satoshi; font-size: 11pt; width: fit-content; background-color:#4f5650; padding-top: 0%; padding-bottom: 0;  font-weight: bold; color:#dccfb5 ;">Add To Watchlist</button>
</div>
</div>

<div class="container" style="display: flex; gap: 3%;">
    <h1 style="color: #4f5650; font-family: satoshi; font-size: 38pt; font-weight: bold;">$161.25</h1>
    <p style="color: #548b5b; font-family: satoshi; font-size: 14pt; padding-top: 1.8%;">+2.35 (1.48%)</p>
    <p style="color: #554f56; font-family: satoshi; font-size: 12pt; align-self: center; padding-top: 1.7%;">Previous Close: $158.90</p>
</div>




<div style="width: 100%; display: flex; gap: 2%; ">

    <div class="container" style="background-color: #edf3ee; width: 50%; border-radius: 15px; display: flex; flex-direction: column; align-self: start; margin-left: 8%; height: 80%; width: 60%; border: solid 1px #383d3922; ">

      <p style="margin: 2%; font-size: 15pt; font-family: satoshi;">Price Chart</p>
      <canvas id="myChart"> {{chart}}</canvas>

      <div class="container" style="display: flex; gap: 0; justify-content: end; width: 100%; ">
            <button type="button" class="btn btn-dark">1D</button>
            <button type="button" class="btn btn-dark">5D</button>
            <button type="button" class="btn btn-dark">1M</button>
            <button type="button" class="btn btn-dark">3M</button>
            <button type="button" class="btn btn-dark">1Y</button>
            <button type="button" class="btn btn-dark">5Y</button>
      </div>
    </div>

    <div class="container" style=" width: 28%; padding: 1%; border: solid 1px #383d3922; background-color: #edf3ee; border-radius: 10px; margin-right: 2%; height: fit-content;   flex-direction: column;">
      <p style="font-family:satoshi;  margin: 2%; font-weight: bold; font-size: 18pt; ">Key Statistics</p>

      <div style="display: flex; justify-content: space-between;">
        <p style="font-family:satoshi;  margin:1% 3%; font-weight: bold; font-size: 12pt; ">Market Cap</p>
        <p style="font-family:satoshi;  margin: 1% 3%; font-weight: bold; font-size: 12pt; ">$2.50T  </p>

      </div>
      <div style="display: flex; justify-content: space-between;">
        <p style="font-family:satoshi;  margin:1% 3%; font-weight: bold; font-size: 12pt; ">P/E Ratio</p>
        <p style="font-family:satoshi;  margin: 1% 3%; font-weight: bold; font-size: 12pt; "> 28.45  </p>

      </div>
      <div style="display: flex; justify-content: space-between;">
        <p style="font-family:satoshi;  margin:1% 3%; font-weight: bold; font-size: 12pt; ">EPS</p>
        <p style="font-family:satoshi;  margin: 1% 3%; font-weight: bold; font-size: 12pt; ">0.52%</p>

      </div>
      <div style="display: flex; justify-content: space-between;">
        <p style="font-family:satoshi;  margin:1% 3%; font-weight: bold; font-size: 12pt; ">52W High</p>
        <p style="font-family:satoshi;  margin: 1% 3%; font-weight: bold; font-size: 12pt; ">$182.94</p>

      </div>
      <div style="display: flex; justify-content: space-between;">
        <p style="font-family:satoshi;  margin:1% 3%; font-weight: bold; font-size: 12pt; ">52W Low</p>
        <p style="font-family:satoshi;  margin: 1% 3%; font-weight: bold; font-size: 12pt; ">$124.17</p>

      </div>
      <div style="display: flex; justify-content: space-between;">
        <p style="font-family:satoshi;  margin:1% 3%; font-weight: bold; font-size: 12pt; ">Volume</p>
        <p style="font-family:satoshi;  margin: 1% 3%; font-weight: bold; font-size: 12pt; ">45.2M</p>

      </div>
      <div style="display: flex; justify-content: space-between;">
        <p style="font-family:satoshi;  margin:1% 3%; font-weight: bold; font-size: 12pt; ">Avg Volume</p>
        <p style="font-family:satoshi;  margin: 1% 3%; font-weight: bold; font-size: 12pt; ">52.8M</p>

      </div>
  </div>

</div>

















<div style="margin-top: 5%; display: flex; flex-direction: column ; align-items: center; ">
  <nav class="nav nav-pills nav-justified" style="width: 80%; background-color: #dccfb5; ">
    <a class="nav-link " aria-current="page"   (click)="displayOverView(overviewTap, financials,overviewTap2)" >Overview</a>
    <a class="nav-link" (click)="displayFinancials(overviewTap, financials, overviewTap2)" >Financials </a>
    <a class="nav-link" >Analysis</a>
    <a class="nav-link" >News</a>
  </nav>


</div>











<div class="container"  style="margin-top: 2%; display: flex; justify-content: center; gap: 2%; width: 82%;" #overviewTap>

  <div style="width: 25%; background-color: aliceblue; padding: 2%; border-radius: 10px; border:  solid 1px #383d3922; background-color: #edf3ee;">
    <h1 style="color: #4f5650; font-family: satoshi; font-size: 22pt; font-weight: bold;">Revenue</h1>
    <p style="color: #548b5b; font-family: satoshi; font-size: 14pt; padding-top: 1.8%;">$394.3B</p>
    <p style="color: #554f56; font-family: satoshi; font-size: 12pt; align-self: center; padding-top: 0%;">+8.2% from last year</p>
  </div>
 <div style="width: 25%; background-color: aliceblue; padding: 2%; border-radius: 10px; border:  solid 1px #383d3922; background-color: #edf3ee;">
    <h1 style="color: #4f5650; font-family: satoshi; font-size: 22pt; font-weight: bold;">Net Income</h1>
    <p style="color: #548b5b; font-family: satoshi; font-size: 14pt; padding-top: 1.8%;">$99.8B</p>
    <p style="color: #554f56; font-family: satoshi; font-size: 12pt; align-self: center; padding-top: 0%;">+5.4% from last year</p>
  </div>
   <div style="width: 25%; background-color: aliceblue; padding: 2%; border-radius: 10px; border:  solid 1px #383d3922; background-color: #edf3ee;">
    <h1 style="color: #4f5650; font-family: satoshi; font-size: 22pt; font-weight: bold;">Employees</h1>
    <p style="color: #548b5b; font-family: satoshi; font-size: 14pt; padding-top: 1.8%;">164,000</p>
    <p style="color: #554f56; font-family: satoshi; font-size: 12pt; align-self: center; padding-top: 0%;">+2.1% from last year</p>
  </div>
   <div style="width: 25%; background-color: aliceblue; padding: 2%; border-radius: 10px; border:  solid 1px #383d3922; background-color: #edf3ee;">
    <h1 style="color: #4f5650; font-family: satoshi; font-size: 22pt; font-weight: bold;">Founded</h1>
    <p style="color: #548b5b; font-family: satoshi; font-size: 14pt; padding-top: 1.8%;">1976</p>
    <p style="color: #554f56; font-family: satoshi; font-size: 12pt; align-self: center; padding-top: 0%;">Cupertino, CA</p>
  </div>



 </div>


 <div style="display: flex; justify-content: center; " #overviewTap2>
  <div style="width: 80%; background-color: aliceblue; padding: 2%; border-radius: 10px; border:  solid 1px #383d3922; background-color: #edf3ee; margin: 2%;">
    <h1 style="color: #4f5650; font-family: satoshi; font-size: 22pt; font-weight: bold;">About Apple Inc.</h1>
    <p style="color: #554f56; font-family: satoshi; font-size: 12pt; padding-top: 1.8%;">Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes its products through its retail stores, online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers.</p>
  </div>
 </div>


  <div class="d-none" style="display: flex; justify-content: center; " #financials>
  <div style="width: 80%; background-color: aliceblue; padding: 2%; border-radius: 10px; border:  solid 1px #383d3922; background-color: #edf3ee; margin: 2%;">
    <h1 style="color: #4f5650; font-family: satoshi; font-size: 22pt; font-weight: bold;">Financial Highlights</h1>
    
  </div>
 </div>

