*{
  font-family: 'stardom', sans-serif;
  color: rgb(237, 205, 164);
}


footer{
  margin-top: 2%;
  width: 100%;
  height: 200px;
  background: #455347;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: end;
}



.inner-div
{
  width: 100%;
  padding-right: 0%;
  margin-bottom: -0.5%;
  display: flex;
  justify-content: center;
  text-align: center;
}

a{
  text-decoration: none;
  margin: 1%;
  text-align: center;
  font-size: 12pt;

}


h5{
  font-size: 11pt;
  margin-bottom: 0%;
}

h1{

  font-size: 22pt;
  margin-top: 2%;
  text-align: center;

}
