



<!-- data-aos="fade-up"  aos-duration="2000" data-aos-delay="500"  -->
<footer >

    <h1>
      TradeTrove
    </h1>


        <h6 style="font-size: 7pt; text-wrap: pretty; text-align: center; margin: 0% 8%; font-family: 'stardom', sans-serif;"> At TradeTrove, we empower investors to make informed decisions by providing a powerful, user-friendly platform to filter and analyze stocks based on real-time data and customizable metrics. Our mission is to democratize access to financial insights, offering tools that cater to both novice traders and seasoned professionals. With transparent data sourced from trusted providers and a commitment to user privacy, we ensure a seamless experience backed by robust support and clear disclaimers, so you can explore the market with confidence. Join our community today and take control of your investment journey.</h6>




  <div class="inner-div">


          <a href="https://github.com/YoussefEldoksh" ><i class="fa-brands fa-square-github"></i></a>
          <a href=""><i class="fa-brands fa-square-instagram"></i></a>
          <a href=""><i class="fa-brands fa-square-facebook"></i></a>
          <a href="https://www.linkedin.com/in/youssef-eldoksh-07755722b/"><i class="fa-brands fa-square-linkedin"></i></a>
  </div>



  <div class="inner-div">
    <h6 style="font-size: 8pt; font-family: 'stardom', sans-serif;">Terms of Service | Privacy Policy | Disclaimer | Not Financial Advice | Help Center | Feedback | Sitemap</h6>
  </div>


    <h6 style="font-size: 8pt; margin-bottom: 1%; font-family: 'stardom', sans-serif;">© 2025 TradeTrove. All Rights Reserved.</h6>




</footer>
