<div class="outer-div">

  <div class="user-info">
      <div class="user-image">

      </div>
      <div class="user-identity">
        <h1 style="font-weight: bold; font-size: 40pt; ">John Doe</h1>
        <h4 style=" font-family: author; margin-top: 1%;">&#64; johndoe</h4>
        <p style="font-size: 15pt;font-family: author; ">Passionate trader with focus on technology and renewable energy stock</p>
        <p style="font-family: author;"> Member since Jan 2025</p>
      </div>
  </div>

  <div class="user-metrics">
    <div class="watchlist">
       <h2 style="  color: #455347;">WatchList</h2>
        <div style="display: flex; gap: 10%; margin-top: 2%; font-size: 21px; padding: 0% 1%;">
         <a style="font-size: 15pt;font-family: author;   color: #455347; ">Apple Inc. (AAPL)</a>
         <a style="font-size: 15pt;font-family: author;   color: #455347; ">Technology</a>
         <a style="font-size: 15pt;font-family: author;   color: #455347; ">~$150-$200, +1.5%</a>
       </div>
        <div style="display: flex; gap: 10%; margin-top: 2%; font-size: 21px; padding: 0% 1%;">
         <a style="font-size: 15pt;font-family: author;   color: #455347; ">Apple Inc. (AAPL)</a>
         <a style="font-size: 15pt;font-family: author;   color: #455347; ">Technology</a>
         <a style="font-size: 15pt;font-family: author;   color: #455347; ">~$150–$200, +1.5%</a>
       </div>
        <div style="display: flex; gap: 10%; margin-top: 2%; font-size: 21px; padding: 0% 1%;">
         <a style="font-size: 15pt;font-family: author;   color: #455347; ">Apple Inc. (AAPL)</a>
         <a style="font-size: 15pt;font-family: author;   color: #455347; ">Technology</a>
         <a style="font-size: 15pt;font-family: author;   color: #455347; ">~$150–$200, +1.5%</a>
       </div>
        <div style="display: flex; gap: 10%; margin-top: 2%; font-size: 21px; padding: 0% 1%;">
         <a style="font-size: 15pt;font-family: author;   color: #455347; ">Apple Inc. (AAPL)</a>
         <a style="font-size: 15pt;font-family: author;   color: #455347; ">Technology</a>
         <a style="font-size: 15pt;font-family: author;   color: #455347; ">~$150–$200, +1.5%</a>
       </div>
        <div style="display: flex; gap: 10%; margin-top: 2%; font-size: 21px; padding: 0% 1%;">
         <a style="font-size: 15pt;font-family: author;   color: #455347; ">Apple Inc. (AAPL)</a>
         <a style="font-size: 15pt;font-family: author;   color: #455347; ">Technology</a>
         <a style="font-size: 15pt;font-family: author;   color: #455347; ">~$150–$200, +1.5%</a>
       </div>
        <div style="display: flex; gap: 10%; margin-top: 2%; font-size: 21px; padding: 0% 1%;">
         <a style="font-size: 15pt;font-family: author;   color: #455347; ">Apple Inc. (AAPL)</a>
         <a style="font-size: 15pt;font-family: author;   color: #455347; ">Technology</a>
         <a style="font-size: 15pt;font-family: author;   color: #455347; ">~$150–$200, +1.5%</a>
       </div>
        <div style="display: flex; gap: 10%; margin-top: 2%; font-size: 21px; padding: 0% 1%;">
         <a style="font-size: 15pt;font-family: author;   color: #455347; ">Apple Inc. (AAPL)</a>
         <a style="font-size: 15pt;font-family: author;   color: #455347; ">Technology</a>
         <a style="font-size: 15pt;font-family: author;   color: #455347; ">~$150–$200, +1.5%</a>
       </div>
    </div>
    <div class="settings">
       <h2 style="  color: #455347;">Settings</h2>
      <div style="display: flex; gap: 10%; margin-top: 2%; font-size: 21px; padding: 0% 1%; flex-direction: column;">
         <a style="font-size: 15pt;font-family: author;   color: #455347;">- Edit profile</a>
         <a style="font-size: 15pt;font-family: author;   color: #455347;">- Notification preference</a>
         <a style="font-size: 15pt;font-family: author;   color: #455347;">- Privacy Settings</a>
      </div>
    </div>
  </div>
</div>

